* {
    box-sizing: border-box;
}


.plan-selector h1{
    color: #0f4c75;
}

body {
    width: auto;
    height: 100vh;
    background-image: url("images/bg-bottom.svg");
    background-color: #f4f4f4;
    background-size: 200em;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.pricing-container {
    height: 50em;
    width: 80em;
    background-image:url("images/bg-top.svg");
    background-size: 50em;
    background-position: top right;
    background-color: #fdfdfd;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);

}

.slider { 
    position : relative ; 
    display : inline-block; 
    width : 2em; 
    height : 1em; 
    background-color: #848ccf; 
    border-radius: 30px; 
} 